@import "../../../variables.scss";

.footer {
  margin-top: 52vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 3rem;

  border-top: 1px solid var(--color-grey-light-2);
  background-color: var(--color-white);

  &__left {
    display: flex;
    align-items: center;

    &--logo {
      height: 5rem;
      margin-right: 4rem;
      &:hover {
        transform: scale(1.07);
      }
    }
    &--legal {
      font-size: 1.3rem;
      @media only screen and (max-width: $bp-smallest) {
        font-size: 1rem;
      }
      &:hover {
        color: var(--color-primary);
        transform: scale(1.01);
      }
    }
  }

  &__right {
    &--icons {
      display: flex;
      list-style: none;
      &--li {
        padding: 1.3rem;
        &:hover {
          cursor: pointer;
          color: var(--color-primary);
          background-color: var(--color-white);
          transform: scale(1.08);
        }
        &--icon {
          font-size: 2rem;
        }
      }
    }
  }
}
