@import "../../../../variables.scss";

.Wrapper {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 2.5rem;
  margin: 5rem 4rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  border-radius: 5px;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  
    &--title {
      font-size: 1.9rem;
      font-weight: 500;
      color: var(--color-Title);
      margin-right: 20px;
    }
  }

}
